<!DOCTYPE html>
<html lang="en">
<head>
    <title> Routr</title>
    <meta charset="utf-8"/>
    <style>
        *{
            font-family: Arial, 'Helvetica', sans-serif;            
        }
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
        .footer{
            position: fixed;
           
            left: 0;
            bottom: 0;
           
            
           
            /*
            background-color: red;
            color: white;
            text-align: center;
            */
        }
    </style>

</head>
<body>
    
        <img src="name2.png" alt="logo" class="center">
    
<h6 class="center" style=" right:50vw; left:50vw;">
    Select the Store you will be shopping at:
</h6>
<select id="store select" name="store selection:" class="center">
<option value="cvs">
    CVS
</option>
<option value="walmart">
    Walmart
</option>
</select>
<br>
<p class="center" style="font-size: 9pt;">
    Place your shopping cart items in the textbox below followed by an enter:
</p>
<textarea class="center" placeholder="Type your items here followed by enter!">

</textarea> <br>

<input type="submit" class="center" >
</form>
</body>

</html>
