{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}
{% block main %}

<h3 class="center" style=" right:50vw; left:50vw;text-align: center;">
    Let's Find Your Rout
 </h3>
 <div>

    <hr id="station_line">
 </div>
<div id="store_map">
    <div style="padding-left: 15%; margin-bottom: 0;">
         Map
    </div>
    <br>
    <img src="static/map.png"
    alt="logo" style="width:70%;height: 70%; margin-left:3.5%">
</div>
<div id="station_name" style="float:right; ">
    Station : {{route[count][2]}}

</div>
<div id="item_checkbox">
    {% for item in items[route[count][2]] %}
      <label class = "container"> {{item}}
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    {% endfor %}
</div>
<br>

<form action="/route" method="post">
  <button type="submit" id ="button" id="nextbutton"  class="center button style="margin-left:3.5%;max-width: 25%;">
    Next Rout
  </button>
</form>

{% endblock %}
